Pandas basic- Assignment Questions

In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
    
# A1. 
# import pandas as pd
import pandas as pd

# import numpy as np
import numpy as np

# simple array
data = np.array([4, 8, 15, 16, 23, 42])

ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int32

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

# A2. 

import pandas as pd
 
# a simple list
list = [1,2,3,4,5,6,7,8,9,0]
 
# create series form a list
ser = pd.Series(list)
print(ser)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [4]:
# Q3. Create a Pandas DataFrame that contains the following data:

# Then, print the DataFrame.

# A3.

# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["alice", "bob", "claire"],
		'age': [25,30,27],
		'gender':["Female","Male","Female"]}

df = pd.DataFrame(dict)

print(df)

     name  age  gender
0   alice   25  Female
1     bob   30    Male
2  claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A4. A Dataframe is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.
    In dataframe datasets arrange in rows and columns, we can store any number of datasets in a dataframe.
    
    We can perform many operations on these datasets like arithmetic operation, columns/rows selection, columns/rows 
    addition etc.

In [5]:
# import pandas as pd
import pandas as pd

# Calling DataFrame constructor
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when
    you might use one of these functions?
    
A5. Common functions to manipulate data in a Pandas DataFrame include:
        Dropping columns in the data
        Dropping rows in the data
        Renaming a column in the dataset
        Selecting columns with specific data types
        Slicing the dataset
        Handling duplicates in the dataset
        Selecting specific values in the column
        Grouping by in DataFrame
    An example of when you might use one of these functions is when you want to drop a column or row that is not relevant 
    to your analysis.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A6. Dimensions and Descriptions of Pandas Datastructure:-
    
        Series – 1D labeled homogeneous array, sizeimmutable
        Data Frames – 2D labeled, size-mutable tabular structure with heterogenic columns
        Panel – 3D labeled size mutable array.

In [6]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

# A7. 

import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

# THANKYOU